/*FUENTES*/
@font-face {
    font-family:'Mark-Pro';
    src:url(/files/assets/fonts/markPro/woff2/Mark-Pro.woff2) format('woff2'),
    url(/files/assets/fonts/markPro/woff/Mark-Pro.woff) format('woff');
    font-style:normal;
    font-weight:400;
    font-display:swap
   }
   @font-face {
    font-family:'Mark-Pro';
    src:url(/files/assets/fonts/markPro/woff2/Mark-Pro--Bold.woff2) format('woff2'),
    url(/files/assets/fonts/markPro/woff/Mark-Pro--Bold.woff) format('woff');
    font-style:normal;
    font-weight:700;
    font-display:swap
   }
   @font-face {
    font-family:'Mark-Pro';
    src:url(/files/assets/fonts/markPro/woff2/Mark-Pro--Heavy.woff2) format('woff2'),
    url(/files/assets/fonts/markPro/woff/Mark-Pro--Heavy.woff) format('woff');
    font-style:normal;
    font-weight:800;
    font-display:swap
   }
   @font-face {
    font-family:'Mark-Pro';
    src:url(/files/assets/fonts/markPro/woff2/Mark-Pro--Medium.woff2) format('woff2'),
    url(/files/assets/fonts/markPro/woff/Mark-Pro--Medium.woff) format('woff');
    font-style:normal;
    font-weight:600;
    font-display:swap
   }
/* CSS INDEX-------------------------------------------------------------------------------------------------------------------------------------------*/

/*seleccion*/
::-moz-selection {
    color:#e7e6e3;
    background:#d1363a;
    text-shadow:none
}
::selection {
    color:#e7e6e3;
    background:#d1363a;
    text-shadow:none
}
/*documento*/
html {
    font-size:16px; /*tamaño de la fuente,altura de la fuente,color de la fuente, grosor de la fuente,*/
    line-height:1.5;
    color:#e7e6e3;
    font-weight:400;
    -ms-text-size-adjust:100%; /*ajustar el texto en mobile*/
    -webkit-text-size-adjust:100% /*esta igual pero en chrome*/
}
/*cuerpo del documento*/
body {
    /*fondo el tamaño de la fuente en em, el estilo*/
    background-color: #242526;
    font-size:1em;
    font-family:'Mark-Pro';
    scroll-behavior: smooth;
    
}
header{
background-color: black;
width: 100%;
display: grid;
position: fixed;
}
/*NAV SECCION 1*/
.nav__content{
    display: flex;
    padding:4px;
    width: 100%;
}
.nav__left-content{
    background-color: #d1363a;
    width: 100%;
}
.nav__center-content{
    background-color: yellow;
    width: 100%;
}
.nav__right-content{
    background-color: green;
    width: 100%;
    position: relative;
    right: auto;
}


/*links*/
a {
    color:#d1363a;
    text-decoration:none
}
/*ensima de boton y links*/
a:focus,
a:hover {
    color:#2b2a29;
    outline:0;
    text-decoration:underline
}
/*activacion de botones y link*/
a:active {
    color: #2b2a29;
}
